Repository ISPC-2024-GrupoEstudio/GrupoEstudio-Mobile2024, pull requests merged in 2024-09, with the labels that each got.

#20 #TK02 Subir estructura
  .idea/.gitignore
  .idea/GrupoEstudio-Mobile2024.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/other.xml
  .idea/vcs.xml
  Frontend/ProyMobile2024/.gitignore
  Frontend/ProyMobile2024/app/.gitignore
  Frontend/ProyMobile2024/app/build.gradle.kts
  Frontend/ProyMobile2024/app/proguard-rules.pro
  Frontend/ProyMobile2024/app/src/androidTest/java/com/example/proy_mobile2024/ExampleInstrumentedTest.java
  Frontend/ProyMobile2024/app/src/main/AndroidManifest.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/MainActivity.java
  Frontend/ProyMobile2024/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/ic_launcher_background.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_main.xml
  Frontend/ProyMobile2024/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  Frontend/ProyMobile2024/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  Frontend/ProyMobile2024/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  Frontend/ProyMobile2024/app/src/main/res/values-night/themes.xml
  Frontend/ProyMobile2024/app/src/main/res/values/colors.xml
  Frontend/ProyMobile2024/app/src/main/res/values/strings.xml
  Frontend/ProyMobile2024/app/src/main/res/values/themes.xml
  Frontend/ProyMobile2024/app/src/main/res/xml/backup_rules.xml
  Frontend/ProyMobile2024/app/src/main/res/xml/data_extraction_rules.xml
  Frontend/ProyMobile2024/app/src/test/java/com/example/proy_mobile2024/ExampleUnitTest.java
  Frontend/ProyMobile2024/build.gradle.kts
  Frontend/ProyMobile2024/gradle.properties
  Frontend/ProyMobile2024/gradle/libs.versions.toml
  Frontend/ProyMobile2024/gradle/wrapper/gradle-wrapper.jar
  Frontend/ProyMobile2024/gradle/wrapper/gradle-wrapper.properties
  Frontend/ProyMobile2024/gradlew
  Frontend/ProyMobile2024/gradlew.bat
  Frontend/ProyMobile2024/settings.gradle.kts
  README.md
Labels: Frontend

#26 Se agrega estructura "maqueta" de menú de navegación
  Frontend/ProyMobile2024/app/build.gradle.kts
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/MainActivity.java
  Frontend/ProyMobile2024/app/src/main/res/drawable/cart_icono.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/cerrarsesion_icon.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/contactus_icon.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/foto_icon.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/home_icon.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/login_icon.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/menu_icon.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/miperfil_icono.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/nav_header_background.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/producto_icono.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/registro_icon.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_main.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/nav_header.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/toolbar.xml
  Frontend/ProyMobile2024/app/src/main/res/menu/drawer_menu.xml
  Frontend/ProyMobile2024/app/src/main/res/values-night/themes.xml
  Frontend/ProyMobile2024/app/src/main/res/values/strings.xml
  Frontend/ProyMobile2024/app/src/main/res/values/themes.xml
Labels: Frontend

#32 Agrego fragmento de contacto
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/contacto.java
  Frontend/ProyMobile2024/app/src/main/res/drawable/btn_contacto.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/fb.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/form_contacto.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/ig.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/ws.png
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_contacto.xml
  Frontend/ProyMobile2024/app/src/main/res/values/strings.xml
Labels: Frontend

#33 subo fragment de Carrito
  Frontend/ProyMobile2024/.idea/.gitignore
  Frontend/ProyMobile2024/.idea/.name
  Frontend/ProyMobile2024/.idea/compiler.xml
  Frontend/ProyMobile2024/.idea/deploymentTargetSelector.xml
  Frontend/ProyMobile2024/.idea/gradle.xml
  Frontend/ProyMobile2024/.idea/migrations.xml
  Frontend/ProyMobile2024/.idea/misc.xml
  Frontend/ProyMobile2024/.idea/other.xml
  Frontend/ProyMobile2024/.idea/vcs.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/carritopngcolor.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/collargato.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/correa.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/ic_baseline_delete_24.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/rascador.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/transportador.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/vertedero.png
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_carrito.xml
Labels: Frontend

#35 Corrección errores del fragmento contacto
  Frontend/ProyMobile2024/app/src/main/res/drawable/fb.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/ig.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/ws.png
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_contacto.xml
  Frontend/ProyMobile2024/app/src/main/res/values/strings.xml
Labels: bug, Frontend

#38 Agrego estructura fragmento login
  Frontend/ProyMobile2024/.idea/gradle.xml
  Frontend/ProyMobile2024/.idea/other.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/LoginFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/MainActivity.java
  Frontend/ProyMobile2024/app/src/main/res/drawable/button_bg.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/edit_text_bg.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/happyhello.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/welcome_gradient.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_main.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_login.xml
  Frontend/ProyMobile2024/app/src/main/res/values/strings.xml
Labels: Frontend

#39 Se agrega estructura completa de GaleriaProductos y DetalleProducto
  .idea/misc.xml
  Frontend/ProyMobile2024/app/build.gradle.kts
  Frontend/ProyMobile2024/app/src/main/AndroidManifest.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/DetalleProductoActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/GaleriaProductosActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/MainActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/adapter/ProductoAdapter.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/Producto.java
  Frontend/ProyMobile2024/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/back.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/edittext_bg.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/fondo_tarjeta.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/placeholder.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/search_icon.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/tarjeta_producto.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_detalle_producto.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_galeria_productos.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_productos.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/tarjeta_producto.xml
  Frontend/ProyMobile2024/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  Frontend/ProyMobile2024/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  Frontend/ProyMobile2024/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  Frontend/ProyMobile2024/app/src/main/res/values/colors.xml
  Frontend/ProyMobile2024/app/src/main/res/values/themes.xml
  Frontend/ProyMobile2024/gradle/libs.versions.toml
Labels: Frontend, Backend

#40 subo icono de app
  Frontend/ProyMobile2024/.idea/misc.xml
  Frontend/ProyMobile2024/app/src/main/AndroidManifest.xml
  Frontend/ProyMobile2024/app/src/main/ic_launcher-playstore.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/iconpetboutique.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/iconpetboutiquecirculo.png
  Frontend/ProyMobile2024/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  Frontend/ProyMobile2024/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  Frontend/ProyMobile2024/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  Frontend/ProyMobile2024/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  Frontend/ProyMobile2024/app/src/main/res/values/ic_launcher_background.xml
Labels: Frontend

#41 Validaciones formulario contacto
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/ContactoFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/contacto.java
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_contacto.xml
  Frontend/ProyMobile2024/app/src/main/res/values/strings.xml
Labels: Frontend

#44 Se implementa la navegación con fragments y activitys
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/MainActivity.java
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_landing.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_main.xml
  Frontend/ProyMobile2024/gradle/libs.versions.toml
Labels: Frontend

#49 Funcionalidad editar foto de perfil
  .idea/assetWizardSettings.xml
  Frontend/ProyMobile2024/.idea/vcs.xml
  Frontend/ProyMobile2024/app/build.gradle.kts
  Frontend/ProyMobile2024/app/src/main/AndroidManifest.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/MainActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/PerfilActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/PerfilFragment.java
  Frontend/ProyMobile2024/app/src/main/res/drawable/editar_icono.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/flecha_volver.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_detalle_producto.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_perfil.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_perfil.xml
  Frontend/ProyMobile2024/app/src/main/res/values/colors.xml
  Frontend/ProyMobile2024/app/src/main/res/values/strings.xml
Labels: Frontend

#50 subo vinculo de carrito al menu de navegación
  Frontend/ProyMobile2024/.idea/other.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/MainActivity.java
Labels: Frontend

#51 Corrigiendo visualizacion del fragment contacto. , barra de navegación …
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_contacto.xml
Labels: Frontend

#54 se carga carpeta Backend con nuevo script BD y APIs
  .gitignore
  Backend/.gitkeep
  Backend/.idea/.gitignore
  Backend/.idea/Backend.iml
  Backend/.idea/misc.xml
  Backend/.idea/modules.xml
  Backend/.idea/other.xml
  Backend/.idea/vcs.xml
  Backend/BBDD/pet_boutique.sql
  backend/.gitignore
  backend/.python-version
  backend/BBDD/ModeloBD.png
  backend/BBDD/ScriptPetBoutiqueApp.sql
  backend/PetBoutique/PetBoutique/.gitignore
  backend/PetBoutique/PetBoutique/__init__.py
  backend/PetBoutique/PetBoutique/asgi.py
  backend/PetBoutique/PetBoutique/settings.py
  backend/PetBoutique/PetBoutique/urls.py
  backend/PetBoutique/PetBoutique/wsgi.py
  backend/PetBoutique/PetBoutiqueApp/.gitignore
  backend/PetBoutique/PetBoutiqueApp/__init__.py
  backend/PetBoutique/PetBoutiqueApp/admin.py
  backend/PetBoutique/PetBoutiqueApp/apps.py
  backend/PetBoutique/PetBoutiqueApp/migrations/0001_initial.py
  backend/PetBoutique/PetBoutiqueApp/models.py
  backend/PetBoutique/PetBoutiqueApp/serializer.py
  backend/PetBoutique/PetBoutiqueApp/templates/base_generic.html
  backend/PetBoutique/PetBoutiqueApp/templates/registration/logged_out.html
  backend/PetBoutique/PetBoutiqueApp/templates/registration/login.html
  backend/PetBoutique/PetBoutiqueApp/templates/registration/password_reset_complete.html
  backend/PetBoutique/PetBoutiqueApp/templates/registration/password_reset_confirm.html
  backend/PetBoutique/PetBoutiqueApp/templates/registration/password_reset_done.html
  backend/PetBoutique/PetBoutiqueApp/templates/registration/password_reset_email.html
  backend/PetBoutique/PetBoutiqueApp/templates/registration/password_reset_form.html
  backend/PetBoutique/PetBoutiqueApp/tests.py
  backend/PetBoutique/PetBoutiqueApp/urls.py
  backend/PetBoutique/PetBoutiqueApp/views.py
  backend/PetBoutique/frontend/index.html
  backend/PetBoutique/manage.py
  backend/PetBoutique/modelo.txt
  backend/requirements.txt
Labels: Backend, Database

#56 subo diagramas de backend
  backend/DIAGRAMAS/Clases UML.png
  backend/DIAGRAMAS/Diagrama Entidad-Relacion.png
  backend/DIAGRAMAS/Diagrama-DB-PetBoutiqueAPP.mwb
  backend/DIAGRAMAS/Diagrama-DB-PetBoutiqueAPP.png
Labels: Backend

#57 Correcciones para correcta visualización en modo oscuro y modo claro
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_carrito.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_contacto.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_login.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_register.xml
Labels: Frontend

#58 Se corrigen permisos de uso de galeria
  Frontend/ProyMobile2024/app/src/main/AndroidManifest.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/PerfilActivity.java
Labels: bug, Frontend
