Repository ISPC-2024-GrupoEstudio/GrupoEstudio-Mobile2024, pull requests merged in 2024-10, with the labels that each got.

#97 se agrega clase RetrofitClient y dependencias
  Frontend/ProyMobile2024/app/build.gradle.kts
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClient.java
Labels: Frontend

#98 Se agrega carpetas viewmodels
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/viewsmodels/LoginData.java
Labels: Frontend

#99 agrego interfaz para llamadas api
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/ApiService.java
Labels: Frontend

#100 Agrego config para DataBinding
  Frontend/ProyMobile2024/app/build.gradle.kts
Labels: Frontend

#101 configuracion AUTH0 (dependencias y manifest)
  Frontend/ProyMobile2024/.idea/other.xml
  Frontend/ProyMobile2024/app/build.gradle.kts
  Frontend/ProyMobile2024/app/src/main/AndroidManifest.xml
Labels: Frontend

#105 Corrigiendo error auth0 en gradle
  Frontend/ProyMobile2024/app/build.gradle.kts
  Frontend/ProyMobile2024/app/src/main/AndroidManifest.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/ApiService.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/utils/Auth0Utils.java
  Frontend/ProyMobile2024/app/src/main/res/values/strings.xml
  Frontend/ProyMobile2024/changes_backup.patch
Labels: bug

#106 Se agrega funcionalidad de RetrofitClient para traer la lista de productos
  .idea/workspace.xml
  Frontend/ProyMobile2024/app/src/main/AndroidManifest.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/GaleriaProductosActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/Producto.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/ApiService.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClient.java
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_detalle_producto.xml
  Frontend/ProyMobile2024/app/src/main/res/xml/network_security_config.xml
  backend/PetBoutique/PetBoutique/settings.py
Labels: Frontend, Backend, Database

#107 Login con registro exitoso simple
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/LoginFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/LoginData.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/ApiService.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/viewsmodels/LoginView.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/viewsmodels/LoginViewModel.java
  backend/PetBoutique/PetBoutique/settings.py
  backend/PetBoutique/PetBoutiqueApp/views.py
Labels: Frontend, Backend

#108 actualizo el archivo requeriments.txt
  backend/requirements.txt
Labels: Backend

#109 subo modificacion en activity carrito con interaccion con productos
  Frontend/ProyMobile2024/app/src/main/AndroidManifest.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/Carrito.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/CarritoActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/GaleriaProductosActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/MainActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/adapter/CarritoAdapter.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/adapter/OnProductClickListener.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/adapter/ProductoAdapter.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/adapter/R.java
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_carrito.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_galeria_productos.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/item_carrito.xml
Labels: Frontend

#110 Se agrega funcionalidad de RetrofitClient para registro de usuario
  .idea/workspace.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/RegisterFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/Usuario.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/ApiService.java
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_register.xml
  backend/PetBoutique/PetBoutique/settings.py
Labels: Frontend, Backend, Database

#112 Login y Registro funcionales con simplejwt
  .idea/deploymentTargetSelector.xml
  .idea/other.xml
  .idea/workspace.xml
  Frontend/ProyMobile2024/app/build.gradle.kts
  Frontend/ProyMobile2024/app/src/main/AndroidManifest.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/GaleriaProductosActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/LoginFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/MainActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/RegisterFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/TokenResponse.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/Usuario.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/ApiService.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/AuthInterceptor.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClient.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClientRegister.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/utils/Auth0Utils.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/viewsmodels/LoginViewModel.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/viewsmodels/LoguinViewModelFactory.java
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_carrito.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/nav_header.xml
  Frontend/ProyMobile2024/app/src/main/res/values/strings.xml
  Frontend/ProyMobile2024/changes_backup.patch
  backend/PetBoutique/PetBoutique/settings.py
  backend/PetBoutique/PetBoutiqueApp/urls.py
  backend/PetBoutique/PetBoutiqueApp/views.py
Labels: Frontend, Backend

#114 agrego restriccion de acceso al carrito para usuario no registrado
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/CarritoActivity.java
Labels: Frontend, Backend

#116 Corecciones de accesibilidad
  .idea/deploymentTargetSelector.xml
  .idea/other.xml
  .idea/workspace.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_carrito.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_detalle_producto.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_galeria_productos.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_carrito.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_register.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/tarjeta_producto.xml
  Frontend/ProyMobile2024/app/src/main/res/values/strings.xml
  backend/requirements.txt
Labels: Frontend

#117 Validaciones formularios
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/ContactoFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/LoginFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/RegisterFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClient.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClientRegister.java
Labels: Frontend

#118 se agrega la funcionalidad completa del carrito y correccion de errores
  .idea/workspace.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/Carrito.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/CarritoActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/GaleriaProductosActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/RegisterFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/adapter/CarritoAdapter.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/adapter/ProductoAdapter.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/Carrito.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/ItemCarritoData.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/ApiService.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/AuthInterceptor.java
  Frontend/ProyMobile2024/app/src/main/res/layout/item_carrito.xml
  backend/PetBoutique/PetBoutique/settings.py
  backend/PetBoutique/requirements.txt
Labels: Frontend, Backend, Ciberseguridad

#119 se corrige seccion de productos
  .idea/workspace.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/GaleriaProductosActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/adapter/ProductoAdapter.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/Producto.java
Labels: bug, Frontend
