Repository ISPC-2024-GrupoEstudio/GrupoEstudio-Mobile2024, pull requests merged in 2024-11, with the labels that each got.

#135 Se agrega bloqueo de login tras intentos fallidos
  Frontend/ProyMobile2024/.idea/other.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/LoginFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClient.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClientRegister.java
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_login.xml
  backend/PetBoutique/PetBoutique/settings.py
Labels: Frontend, Ciberseguridad

#136 Milena gimenez
  Frontend/ProyMobile2024/.idea/deploymentTargetSelector.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/LoginFragment.java
  Frontend/ProyMobile2024/app/src/main/res/drawable/ic_eye_closed.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/ic_eye_open.png
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_login.xml
  Frontend/ProyMobile2024/app/src/main/res/values/strings.xml
Labels: Frontend

#142 Milena gimenez
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/ContactoFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/LoginFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/MainActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/RegisterFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClient.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClientRegister.java
  Frontend/ProyMobile2024/app/src/main/res/drawable/ic_eye_closed.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/ic_eye_open.png
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_contacto.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_login.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_register.xml
Labels: Frontend

#143 Corrección bug dni
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/RegisterFragment.java
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_register.xml
  backend/PetBoutique/PetBoutique/settings.py
Labels: bug

#146 se corrigen errores en seccion de galería de productos y tarjeta producto y la funcionalidad de el botón agregar producto, se implementa el control de usuario logueado.
  .idea/workspace.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/DetalleProductoActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/GaleriaProductosActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/adapter/ProductoAdapter.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/ApiService.java
  Frontend/ProyMobile2024/app/src/main/res/layout/tarjeta_producto.xml
Labels: bug, Frontend, Backend

#147 se cambia el filtro de búsqueda de producto para que sea dinámico
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/GaleriaProductosActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/CategoriaProducto.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/ApiService.java
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_galeria_productos.xml
Labels: Frontend, Backend

#151 Vale angeletti
  Frontend/ProyMobile2024/app/build.gradle.kts
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/EditarPerfilDialogFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/MainActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/PerfilActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/UsuarioPerfil.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClient.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClientRegister.java
  backend/PetBoutique/PetBoutique/settings.py
Labels: Frontend, Backend, Database

#153 Correccion mensaje de error duplicado
  .idea/workspace.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/EditarPerfilDialogFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/PerfilActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClient.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClientRegister.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/viewsmodels/PerfilViewModel.java
  backend/PetBoutique/PetBoutique/settings.py
Labels: Frontend

#154 Valen balladares02
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/MainActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/PerfilActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClient.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClientRegister.java
  Frontend/ProyMobile2024/app/src/main/res/layout/nav_header.xml
  backend/PetBoutique/PetBoutique/settings.py
Labels: bug, Frontend

#158 Estilizacion Editar Perfil
  .idea/workspace.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_editar_perfil.xml
Labels: Frontend
