Repository ISPC-2024-GrupoEstudio/GrupoEstudio-Mobile2024, pull requests merged in 2025-06, with the labels that each got.

#195 Dashboard, Fucionamiento historial y estructura cupones.
  .idea/assetWizardSettings.xml
  .idea/caches/deviceStreaming.xml
  .idea/gradle.xml
  .idea/workspace.xml
  Frontend/ProyMobile2024/app/build.gradle.kts
  Frontend/ProyMobile2024/app/src/main/AndroidManifest.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/LoginFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/MainActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/ApiService.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/AuthInterceptor.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClient.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClientRegister.java
  Frontend/ProyMobile2024/app/src/main/res/menu/drawer_menu.xml
  Frontend/ProyMobile2024/gradle/libs.versions.toml
  backend/BBDD/ScriptPetBoutiqueApp.sql
  backend/PetBoutique/PetBoutique/settings.py
  backend/PetBoutique/PetBoutiqueApp/models.py
Labels: Frontend

#196 Funcionalidad detalle pedido y correccion estilos
  .idea/workspace.xml
  Frontend/ProyMobile2024/app/build.gradle.kts
  Frontend/ProyMobile2024/app/src/main/AndroidManifest.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/ApiService.java
  Frontend/ProyMobile2024/app/src/main/res/values/strings.xml
  backend/PetBoutique/PetBoutiqueApp/serializer.py
  backend/PetBoutique/PetBoutiqueApp/views.py
Labels: Frontend, Backend

#197 funcionalidad detalle pedido FINAL
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/CarruselAdapter.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/CarruselDashboard.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/Cupon.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/CuponesActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/DashboardActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/DetallePedidoActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/HistorialComprasActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/adapter/PedidoAdapter.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/adapter/ProductoPedidoAdapter.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/Pedido.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/ProductosXPedido.java
  Frontend/ProyMobile2024/app/src/main/res/drawable/cucha_cupones.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/cupon_descuento_dashboard.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/dashboard_icono.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/divisor_detalle.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/fondo_cupon_dashboard.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/fondo_historial_dashboard.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/fondo_naranja_cupon.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/gato_cupones.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/gato_dashboard.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/item_carrusel1.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/item_carrusel2.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/item_carrusel3.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/left_purple_cupon.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/pedidos_historial.png
  Frontend/ProyMobile2024/app/src/main/res/drawable/percha_cupones.png
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_cupones.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_dashboard.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_detalle_pedido.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_historial_compras.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/card_historial_pedido.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/carrusel_dashboard.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/item_producto_pedido.xml
  Frontend/ProyMobile2024/app/src/main/res/values/dimensionesCarrusel.xml
Labels: Frontend, Backend

#198 Integración de pasarela de Mercado Pago
  .idea/caches/deviceStreaming.xml
  .idea/compiler.xml
  .idea/gradle.xml
  .idea/workspace.xml
  Frontend/ProyMobile2024/app/src/main/AndroidManifest.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/CheckoutActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/LandingActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/LoginFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/LoginResponse.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/PedidoCheckoutData.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/PedidoCheckoutItemData.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/PreferenciaResponse.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/TokenResponse.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/ApiService.java
  backend/PetBoutique/PetBoutique/settings.py
  backend/PetBoutique/PetBoutiqueApp/views.py
Labels: Frontend, Backend

#201 correccion bug imagen en nav
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/LoginFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/MainActivity.java
Labels: bug, Frontend

#203 Milena gimenez
  .idea/caches/deviceStreaming.xml
  .idea/compiler.xml
  .idea/gradle.xml
  .idea/workspace.xml
  Frontend/ProyMobile2024/.idea/.gitignore
  Frontend/ProyMobile2024/.idea/.name
  Frontend/ProyMobile2024/.idea/cody_history.xml
  Frontend/ProyMobile2024/.idea/compiler.xml
  Frontend/ProyMobile2024/.idea/deploymentTargetSelector.xml
  Frontend/ProyMobile2024/.idea/gradle.xml
  Frontend/ProyMobile2024/.idea/migrations.xml
  Frontend/ProyMobile2024/.idea/misc.xml
  Frontend/ProyMobile2024/.idea/other.xml
  Frontend/ProyMobile2024/.idea/vcs.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/ContactoFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/RegisterFragment.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/AuthInterceptor.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClient.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClientRegister.java
  Frontend/ProyMobile2024/app/src/main/res/drawable/spinner_background.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_contacto.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_register.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/spinner_item.xml
  Frontend/ProyMobile2024/app/src/main/res/values/strings.xml
  Frontend/ProyMobile2024/app/src/main/res/values/styles.xml
  backend/PetBoutique/PetBoutique/settings.py
  backend/PetBoutique/PetBoutiqueApp/models.py
Labels: Backend

#204 Milena gimenez
  .idea/caches/deviceStreaming.xml
  .idea/workspace.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/CheckoutActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/Cupon.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/CuponesActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/MisCuponRequest.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/PedidoCheckoutData.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/ApiService.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/AuthInterceptor.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClient.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClientRegister.java
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_checkout.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_login.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/fragment_register.xml
  backend/PetBoutique/PetBoutique/settings.py
  backend/PetBoutique/PetBoutiqueApp/views.py
Labels: Frontend, Backend

#210 Milena gimenez
  .idea/workspace.xml
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/CheckoutActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/Cupon.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/CuponesActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/PedidoCheckoutData.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/ApiService.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/AuthInterceptor.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClient.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClientRegister.java
  backend/PetBoutique/PetBoutique/settings.py
  backend/PetBoutique/PetBoutiqueApp/views.py
Labels: Frontend

#211 aplicando hashing seguro al password
  .idea/workspace.xml
  backend/PetBoutique/PetBoutiqueApp/views.py
Labels: Backend

#212 Logica de cotizacion con cupones integrado (revisar)
  Frontend/ProyMobile2024/app/build.gradle.kts
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/CheckoutActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/CostoEnvioRequest.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/CostoEnvioResponse.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/PesoVolumetricoRequest.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/PesoVolumetricoResponse.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/model/Sucursal.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/CorreoArgentinoApi.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClientCorreo.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClientRegister.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/viewsmodels/ProvinciaUtils.java
  Frontend/ProyMobile2024/app/src/main/res/drawable/bg_total_border.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/rounded_input.xml
  Frontend/ProyMobile2024/app/src/main/res/drawable/rounded_input_shadow.xml
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_checkout.xml
  Frontend/ProyMobile2024/app/src/main/res/values/colors.xml
  Frontend/ProyMobile2024/app/src/main/res/values/ids.xml
  Frontend/ProyMobile2024/gradle/libs.versions.toml
  backend/PetBoutique/PetBoutique/settings.py
  backend/PetBoutique/PetBoutiqueApp/models.py
  backend/PetBoutique/PetBoutiqueApp/views.py
Labels: Frontend

#219 Ajuste dinámico de cantidades de productos en carrito
  backend/PetBoutique/PetBoutique/settings.py
  backend/PetBoutique/PetBoutiqueApp/urls.py
  backend/PetBoutique/PetBoutiqueApp/views.py
Labels: Backend

#220 Milena cupones
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/CheckoutActivity.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/AuthInterceptor.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClient.java
  Frontend/ProyMobile2024/app/src/main/java/com/example/proy_mobile2024/services/RetrofitClientRegister.java
  Frontend/ProyMobile2024/app/src/main/res/layout/activity_checkout.xml
Labels: bug, Frontend
